# This file is part of MCA-Selector-lite,
# and is licensed under GPL-2.0-only.
# Copyright (C)2025 quinnthepigeon@proton.me Quinn
# For further information, view COPYING and CONTRIBUTORS
# at: www.github.com/thepigeongenerator/mcaselector-lite

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_style = tab
indent_size = tab

[{makefile}]
indent_style = tab
indent_size = tab

[*.{json}]
indent_style = tab
indent_size = tab

[*.{yaml}]
indent_style = space
intent_size = 2
