# Copyright (c) 2025 Quinn.
# This is a file from the project MCA-Selector-Lite and is
# licensed under the MIT Licence. See included LICENSE file for details.

# ignore all dotfiles by default
.*

# unhide dotfiles we want to keep
!.gitignore
!.gitmodules
!.editorconfig
!.clang-format
!/.github/

# hide output files
*.o
*.d
*.out
*.lock
/bin/
/obj/
/lib/obj/
compile_commands.json
compile_commands.events.json
