# This file is part of MCA-Selector-lite,
# and is licensed under GPL-2.0-only.
# Copyright (C)2025 quinnthepigeon@proton.me Quinn
# For further information, view COPYING and CONTRIBUTORS
# at: www.github.com/thepigeongenerator/mcaselector-lite

# ignore all dotfiles by default
.*

# unhide dotfiles we want to keep
!.gitignore
!.gitmodules
!.editorconfig
!.clang-format
!.mailmap
!/.github/

# hide output files
*.o
*.d
*.out
*.lock
/bin/
/obj/
/lib/obj/
/res/**.c
compile_commands.json
compile_commands.events.json
