# Copyright (c) 2025 Quinn
# Licensed under the MIT Licence. See LICENSE for details

# ignore all dotfiles by default
.*

# unhide dotfiles we want to keep
!.gitignore
!.gitmodules
!.editorconfig
!.clang-format
!/.github/

# hide output files
*.o
*.d
*.out
*.lock
/bin/
/obj/
/vcpkg_installed/
compile_commands.json
